{% extends "base.html" %}
{% block main %}
<!-- welcome banner (3 blocks of 4) -->
<section>
  {% if user %}
    <div class="col-xs-3"></div>
    <div>
      <section class="col-xs-6 center-block">
        <h2>Welcome to the know.</h2>
        <br>
        <h3>Please remember to update your user <a href="/createProfile" title="profile"><span>profile!</span></a></h3>
        <p>Otherwise, just click <a href="#nav" class="start">here</a> to get started.</p>
        <p>Or click <a href="{{logout}}" class="start">here</a> to logout.</p>
        <br>
      </section>
    </div>
    <div class="col-xs-3"></div>
  {% else %}
    <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <h2>Welcome to the show.</h2>
        <h4>Dr. Know is a fully customizable Artificial Creativity Engine.</h4>
        <p> It is not just another content discovery tool. </p>
        <p>It is a tool that allows the user to cross reference disparate sources of information
        <br> and data streams that combine real time world events and social activity with personal interests.</p>
        <p>It is at the nexus of these obtuse combinations that new and interesting ideas are generated.</p>
        <p>All you have to do is connect your accounts, select your data streams, and grab interesting words from the engine.</p>
      </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <a href="{{ login }}" class="glyphicon glyphicon-pencil"></a><p>Register</p>
    </div>
    <div class="col-xs-6">
      <a href="#nav" class="glyphicon glyphicon-play-circle"></a><p>Try It Out</p>
    </div>
  {% endif %}
</section>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">doctor know</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/engine"><span class="glyphicon glyphicon-cloud-download hidden-sm"></span> Engine</a></li>
        <li><a href="/data"><span class="glyphicon glyphicon-eye-open hidden-sm"></span> Data Analysis</a></li>
        <li><a href="/profile"><span class="glyphicon glyphicon-user hidden-sm"></span> Profile</a></li>
        <li><a href="#linked"><span class="glyphicon glyphicon-link hidden-sm"></span> Linked Accounts</a></li>
        <li><a href="#saved"><span class="glyphicon glyphicon-screenshot hidden-sm"></span> Saved Searches</a></li>
      </ul>
    {% if user %}
      <p class="navbar-text"><span class="hidden-sm">Signed in as </span><a href="#profile" class="navbar-link"> {{nickname}}     </a></p>
      <p class="navbar-text navbar-right"><a href="{{logout}}" class="navbar-link"> Log Out</a></p>
    {% else %}
      <p class="navbar-text navbar-right"><a href="{{login}}" class="navbar-link"> Log In</a></p>
    {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}